extends layout

block content
  div#main
    header#header
        h1 #{title}
        p #{description}
        ul.icons
            li
                a.icon.fa-github(href='https://github.com/xCss/bing',target="_blank")
                    span.label Github
            li
                a.icon.fa-weibo(href='http://weibo.com/BingPictures',target="_blank")
                    span.label Weibo
            li
                a.icon.fa-envelope(href='mail:xioveliu@gmail.com',target="_blank")
                    span.label Mail
    section#thumbnails
            each val in data
                article
                    a.thumbnail(href= val.original_pic   )
                        img(src=val.thumbnail_pic )
                    h2 ##{val.date}# #{val.copyright}
                    p #{val.description}
                    ul.actions
                        li
                        - var url = 'http://service.weibo.com/share/share.php?url='+encodeURIComponent('http://bing.ioliu.cn')+'&title='+encodeURIComponent('#必应壁纸# '+ val.date + '/ #'+ val.title +'# '+ val.description + '&appkey=1833831541&pic='+encodeURIComponent(val.original_pic));
                            a.button.small(href=url,target="_blank",rel="nofollow") SHARE

    ul.actions.align-center
        li
            a.button.small &lt;&lt; 上页
            a.button.small 下页 &gt;&gt;
    footer#footer
        ul.copyright
            li 
                span.copy 2016 
                b &copy; 
                a(href='/') Bing Pictures.
